* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navfirst {
    margin-left: 552px;

}

.iconsedit {
    margin-right: 10px;
    margin-left: 10px;
}

.iconbag {
    margin-left: 10px;
}


.fundo01 {
    background: linear-gradient(103.7deg, #DE5D00 -22.35%, #5F2800 -0.19%, #000000 26.26%, #000000 52.71%, #000000 77.73%, #301400 98.46%, #FF6B00 114.91%);
    border-radius: 5px;
    width: 100vw;
    height: 70vh;
    position: absolute;
    margin-top: -18px;
}

.h2text {
    font-weight: 700;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    color: white;
    position: relative;
    margin-top: 133px;
    margin-left: 120px;
    width: 470px;
    height: 129px;
}

.ptxt{
    width: 508px;
    height: 90px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 170px 0 0 120px;
}

#buttonComprarAgora{
    margin: 30px 0 0 120px;
}